<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ride</title>
    <link rel="stylesheet" href="CSS/create-ride.css">
    <link rel="stylesheet" href="CSS/nav.css">
    <link rel="stylesheet" href="CSS/book-ride.css">
</head>

<body>
    <div class="header">
        <div class="yellow-bg"></div>
        <div class="nav-bar">
            <div class="logo"><img src="./logo.png" /></div>
            <div class="nav">
                <ul class="nav-list">
                    <div class="list-item">
                        <li><a href="/">Home</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="#about">About Us</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="./get-rides">Book Ride</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="./create-ride">Create Ride</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="#contact">Contact Us</a></li>
                    </div>
                </ul>
            </div>
            <div class="btn"><button id="nav-button"> Login</button></div>
        </div>
    </div>

    <div id="form-container">
        <div id="content">Book Ride</div>
        <form action="/process-get-rides" method="post" id="form">
            <div id="input"><input type="text" name="pickup" id="pick" placeholder="Choose Pick-Up Point"></div>
            <div id="input"><input type="text" name="destination" id="destination" placeholder="Choose Destination">
            </div>
            <div id="input"><input type="number" name="seat" id="seat" placeholder="Enter the number of seats"></div>
            <div id="buttons">
                <div id="input"><input type="submit" value="Book Now"></div>
            </div>
        </form>
    </div>

</body>

</html>