<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CabEco | India's No. 1 Carpooling Services</title>
    <link rel="stylesheet" href="CSS/nav.css">
    <link rel="stylesheet" href="CSS/home.css">
</head>
<body>
    <div class="header">
        <div class="yellow-bg"></div>
        <div class="nav-bar">
            <div class="logo"><img src="./logo.png" /></div>
            <div class="nav">
                <ul class="nav-list">
                    <div class="list-item">
                        <li><a href="/">Home</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="#about">About Us</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="./get-rides">Book Ride</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="./create-ride">Create Ride</a></li>
                    </div>
                    <div class="list-item">
                        <li><a href="#contact">Contact Us</a></li>
                    </div>
                </ul>
            </div>
            <div class="btn"><button id="nav-button"> Login</button></div>
        </div>
    </div>

    
</body>
</html>